.react-calendar {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    border: none !important;

}

.react-calendar__viewContainer

.react-calendar__tile {
    width: 43px;
    padding: 5px 7px 6px 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    border-radius: 50%;
    border: none;
    transition: all 0.2s ease;
    & > abbr{
        display: none !important;
    }
}

.react-calendar__tile:hover {
    background: rgba(0, 0, 0, 0.1);
}

.react-calendar__tile--now {
    background: #4caf50;
    color: white;
}

.react-calendar__tile--active {

    background: #007bff;
    color: white;
    border-radius: 50%;
}

/* 요일 숨기기 */
.react-calendar__month-view__weekdays {
    display: none !important;
}

.react-calendar__navigation {
    display: none;
}